* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 20px 10px;
    background-color: #ddd;
}

.profil {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

p {
    font-size: 14px;
}

.layout {
    min-height: calc(200vh + 40px);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-gap: 10px;
}

.layout .parent {
    border-bottom: 2px solid crimson;
    display: grid;
    justify-content: center;
    align-content: flex-start;
    position: relative;
}

i {
    color: green;
}

.job {
    margin-top: 5px;
    color: gray;
}

.ibrahim,
.mah,
.shady {
    border-bottom: 2px solid orange;
}

.osama {
    padding: 15px 10px;
    grid-area: 1 / 1 / 4 / 5;
    color: black;
    background-color: white;
}

.ahmed {
    padding: 15px 10px;
    grid-area: 1 / 5 / 4 / 7;
    color: black;
    background-color: white;
}

.mohamed {
    padding: 15px 10px;
    grid-area: 4 / 1 / 10 / 3;
    color: black;
    background-color: white;
}

.shady {
    padding: 15px 10px;
    grid-area: 1 / 7 / 10 / 9;
    background-color: black;
    color: white;
}

.mah {
    padding: 15px 10px;
    grid-area: 4 / 3 / 7 / 7;
    background-color: black;
    color: white;
}

.ezz {
    padding: 15px 10px;
    grid-area: 7 / 3 / 10 / 7;
    color: black;
    background-color: white;
}

.moh2 {
    padding: 15px 10px;
    grid-area: 10 / 1 / 12 / 3;
    background-color: white;
    color: black;
}

.ibrahim {
    padding: 15px 10px;
    grid-area: 10 / 3 / 12 / 5;
    background-color: black;
    color: white;
}

.Gamal {
    padding: 15px 10px;
    grid-area: 10 / 5 / 12 / 7;
    background-color: white;
    color: black;
}

.eman {
    padding: 15px 10px;
    grid-area: 10 / 7 / 12 / 9;
    background-color: white;
    color: black;
}